attrs==21.2.0
cocotb==1.6.1
cocotb-bus==0.2.0
cocotb-test==0.2.1
debugpy==1.5.1
execnet==1.9.0
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyelftools==0.27
pyparsing==3.0.6
pytest==6.2.5
pytest-forked==1.4.0
pytest-xdist==2.5.0
tabulate==0.8.9
toml==0.10.2
